---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ContentSection from "../components/ContentSection.astro";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import client from "../../tina/__generated__/client";

const eventResponse = await client.queries.eventConnection();
const event = eventResponse.data.eventConnection.edges
  .map((edge) => edge.node)
  .find((event) => event.active);

const sectionsResponse = await client.queries.sectionConnection();
const _sections = sectionsResponse.data.sectionConnection.edges.map(
  (edge) => edge.node
);

const sections = _sections
  .filter((section) => !section.isMenu)
  .sort((a, b) => a.order - b.order);

console.log("sections lenght", sections.length);
const menuSection = _sections.find((section) => {
  return section.isMenu;
});

const snacksResponse = await client.queries.snackConnection();
const snacks = snacksResponse.data.snackConnection.edges
  .map((edge) => edge.node)
  .sort((a, b) => a.order - b.order);

const winesResponse = await client.queries.wineConnection();
const wines = winesResponse.data.wineConnection.edges
  .map((edge) => edge.node)
  .sort((a, b) => a.order - b.order);
---

<Layout title="MUCHO CAFE, BAR Y MUCHO MAS">
  <main class="relative space-y-12 md:space-y-16 lg:space-y-24">
    <Hero />
    <!--Events-->
    {
      !!event && (
        <ContentSection>
          <Fragment slot="left">
            <div class="my-auto py-2 pt-8 md:w-1/2 md:py-8 md:pr-12 xl:pr-24">
              <h2 id="event" class="text-xl">
                <strong>{event.title}</strong>
                <span class="font-light">{event.whenAndWhere}</span>
              </h2>

              <p class="whitespace-pre-line text-xl font-light leading-relaxed">
                {event.description}
              </p>
            </div>
          </Fragment>

          <Fragment slot="right">
            <Image
              src={event.imgSrc}
              alt={event.title}
              width="600"
              height="80"
              class="max-w-xs sm:max-w-md md:w-1/2 md:max-w-full"
            />
          </Fragment>
        </ContentSection>
      )
    }
    {
      sections.map((section, idx) => (
        <ContentSection key={section.id} reverse={idx % 2 !== 0}>
          <Fragment slot="left">
            <div class="order-2 max-w-xs sm:max-w-md md:order-1 md:w-1/2 md:max-w-full">
              <Image
                src={section.imgSrc}
                alt={section.title}
                width="600"
                height="80"
              />
            </div>
          </Fragment>

          <Fragment slot="right">
            <div class="order-1 pt-8 md:order-2 md:w-1/2" id="about">
              <div
                class:list={[
                  "my-auto py-2 md:py-8",
                  idx % 2 !== 0 ? "md:pr-12 xl:pr-24" : "md:pl-12 xl:pl-24"
                ]}
              >
                {section.showTitle && (
                  <h2 class="text-xl">
                    <strong>{section.title}</strong>
                  </h2>
                )}
                <p class="whitespace-pre-line text-xl font-light leading-relaxed">
                  {section.description}
                </p>
              </div>
            </div>
          </Fragment>
        </ContentSection>
      ))
    }

    <!--Menu-->
    <ContentSection>
      <Fragment slot="left">
        <div class="my-auto space-y-4 pt-8 md:w-1/2 md:pr-12 xl:pr-24">
          <h2 class="text-xl" id="menu">
            <strong>MENU</strong> change au fil des saisons et de nos humeurs
          </h2>
          <dl>
            <h3 class="text-lg"><strong>SNACKS</strong></h3>

            {
              snacks.map((snack) => (
                <div class="flex justify-between text-lg font-light">
                  <dt>{snack.name}</dt>
                  <dd>{snack.price}</dd>
                </div>
              ))
            }
          </dl>
          <dl>
            <h3 class="text-lg"><strong>VINS</strong></h3>

            {
              wines.map((wine) => (
                <div class="flex justify-between text-lg font-light">
                  <dt>{wine.name}</dt>
                  <dd>{wine.price}</dd>
                </div>
              ))
            }
          </dl>
        </div>
      </Fragment>

      <Fragment slot="right">
        <Image
          src={menuSection?.imgSrc}
          alt={menuSection?.title}
          width="600"
          height="80"
          class="max-w-xs sm:max-w-md md:w-1/2 md:max-w-full"
        />
      </Fragment>
    </ContentSection>
    <div>
      <Footer />
      <script type="module">
        (function (d, s, id) {
          console.log("Loading Zenchef SDK");
          const el = d.getElementsByTagName(s)[0];
          if (d.getElementById(id) || el.parentNode == null) return;
          var js = d.createElement(s);
          js.id = id;
          js.src = "https://sdk.zenchef.com/v1/sdk.min.js";
          el.parentNode.insertBefore(js, el);
        })(document, "script", "zenchef-sdk");
      </script>
      <div class="zc-widget-config" data-restaurant="376300" data-open="2000">
      </div>
    </div>
  </main>
</Layout>
